{deps, [
        {stats, ".*", {git, "git://github.com/dizzyd/stats.git", "HEAD"}},
        {ibrowse, ".*", {git, "git://github.com/dizzyd/ibrowse.git", "HEAD"}},
        {riakc, ".*", {git, "git://github.com/basho/riak-erlang-client", "HEAD"}},
        {casbench, "0.1", {git, "git://github.com/basho/casbench", "HEAD"}}
       ]}.

{escript_incl_apps, [stats, ibrowse, riakc, protobuffs]}.

%% Uncomment to use the Java client bench driver
{escript_emu_args, "%%! -name basho_bench -setcookie gaoler\n"}.
