% minutes to run for
{duration, 5}. 

% number of workers; i.e. how many will queue at once
{concurrent, 100}. 

% as soon as a worker finishes an op they should re-request the lock
{mode, max}. 

{driver, basho_bench_driver_gaoler}.

%we only have one operation
{operations, [{acquire_release, 1}]}.